language: julia

os:
  - osx
  - linux
  - windows

julia:
  - 1.1
  - 1.2
  - nightly

matrix:
  allow_failures:
  - julia: nightly

notifications:
  email: false

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())';
